@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #fff;
    background-color: #000;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smsmeta-logo-container img {
    width: 235px;
}

.smsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
}

.smsmeta-logo-container p {
    font-size: 14px;
    font-weight: 300;
}



#sales {
    padding: 40px 10px;
}

.smsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.smsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.smsmeta-titulo-sales {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.smsmeta-date {
    width: 100%;
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.smsmeta-date-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.smsmeta-sales-tabela {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.smsmeta-sales-tabela thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.smsmeta-sales-tabela tbody {
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}

.smsmeta-sales-tabela tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.smsmeta-sales-tabela tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.smsmeta-sales-tabela tbody tr:hover > th {
    background-color: #384459;
}

.smsmeta-red-button-container {
    display: flex;
    justify-content: center;
}

.smsmeta-red-button {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.smsmeta-red-button img {
    width: 19px;
}

.mostrar-aos-576 {
    display: none;
}

.mostrar-aos-992 {
    display: none;
}

@media (min-width: 576px) {
    .mostrar-aos-576 {
        display: table-cell;
    }
    .smsmeta-card {
        padding: 35px;
    }
    .smsmeta-sales-tabela tbody tr {
        height: 55px;
    }
    .smsmeta-sales-tabela tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .mostrar-aos-992 {
        display: table-cell;
    }
}